DM2126Assignment01.VC.VC.opendb
DM2126Assignment01.VC.db
DM2126Assignment01/Debug/DM2126Assignment01.log
*.suo
DM2126Assignment01/Debug/DM2126Assignment01.Build.CppClean.log
DM2126Assignment01/Debug/DM2126As.FBA200FE.tlog/unsuccessfulbuild
*.TMP
